extends layout

block layout-content
  div.container
    div.content
        h1.title Guard portal
        if token 
          p.is-size-3 Hello  #{token.preferred_username} ! 
          p You are already authenticated
          a.button(href=`/auth/logout`) Logout
        else
          div.content
              a.button.is-primary(href=`/auth/login`) Login


