extends ../layout

block layout-content
  div.container
    h1.title Authentication Failed...
    div.content
        p @TODO: Text about authentication failed
        a.button(href='/auth/login') Try again

