extends ../layout

block layout-content
  div.container
    h1.title Authentication succeed !
    div.content
        p Retrieved JWT and store access token in cookie named '#{cookieName}'
        pre.Details=JSON.stringify(infos, null, 2)
        a.button(href=`${redirectUrl}`) Return to site 

